<nav>
    <div class = "site title">
      <a href = "/"><h1>Node.js Crash Course</h1></a>
      <p>Reference to the Node.js Ninja Crash Course</p>
    </div>
    <ul>
      <li><a href = "/"> Blogs/Home </a></li>
      <li><a href = "/about"> About </a></li>
      <li><a href = "/create"> Create a new Blog </a></li>
    </ul>    
  </nav>