<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <h1>Home</h1>
  <h2>HTML from the node.js ninja crash course!</h2>
  
  <%- include('./partials/nav.ejs') %>

  <div class = "not-found content">
    Oops! Page not found :(
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>