<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <h1>Home</h1>
  <h2>HTML from the node.js ninja crash course!</h2>

  <%- include('./partials/nav.ejs') %>

  <div class = "about content">
    <h2> About this page </h2>
    <p>This page is a reference to the Node.js Ninja Crash Course</p>
    <p>Instructor: The Net Ninja</p>
    <p>Course Youtube Link: https://www.youtube.com/playlist?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU</p>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>